# .env

# Server configuration
PORT=5000
CLIENT_URL=http://localhost:3000
# Node modules
node_modules/


PORT=3000
MONGO_URI=mongodb+srv://anicet2k21:Oyzygecp1YNkNPnd@simplon.dqd8s9t.mongodb.net/
JWT_SECRET=supersecretjwtkey
CLIENT_URL = http://localhost:5173
JWT_EXPIRES_IN=1h

# Database configuration (MongoDB)
MONGO_URI=mongodb://localhost:27017/nom_de_ta_base

# JWT Authentication
JWT_SECRET=ton_jwt_secret_super_secure
JWT_EXPIRES_IN=1d

# Email service (exemple avec Gmail ou un service SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=ton.email@gmail.com
EMAIL_PASS=ton_mot_de_passe_app

# Cloud Storage (par exemple Cloudinary)
CLOUDINARY_CLOUD_NAME=ton_nom_cloud
CLOUDINARY_API_KEY=ta_cle_api
CLOUDINARY_API_SECRET=ton_secret_api

# Stripe (paiement)
STRIPE_SECRET_KEY=ta_cle_stripe

# Autres éventuels
NODE_ENV=development
